<template>
  <div class="home">
    <div class="container">
      <div class="row">
        <div class="col-md-10 mx-auto">
          <div class="col-md-12 row">
            <div class="col-md-">
              <div class="card">
                <div class="card-body text-justify">
                  <img src="../assets/choclate.jpg" class="img-thumbnail" alt=""><br>
                    <span class="d-inline"><b>Product Name :</b>&nbsp; {{orders.orders[0].name}} </span> <br>
                    <span class="d-inline"> <b>Order Refrence &nbsp;</b> {{orders.orders[0].orderId}}</span><br>
                    <span class="d-inline"> <b>Sold By :</b> {{orders.orders[0].soldBy}}</span><br>
                    <br> <br>
                  <button class="btn btn-success btn-sm">Get Support</button>&nbsp;
                  <button class="btn btn-success btn-sm" v-on:click="counter += 1">Track Package</button>&nbsp;
                  <button @click="$refs.Modal.openModal()">Open modal</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <modal ref="Modal">
      <template v-slot:header>
        <h1>Modal title</h1>
      </template>

      <template v-slot:body>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nunc sed velit dignissim sodales ut eu sem integer vitae. Id aliquet lectus proin nibh nisl condimentum. Fringilla urna porttitor rhoncus dolor purus. Nam aliquam sem et tortor. Nisl vel pretium lectus quam id. Cras pulvinar mattis nunc sed. Quis ipsum suspendisse ultrices gravida dictum fusce ut placerat orci. Tristique magna sit amet purus. Fermentum et sollicitudin ac orci phasellus egestas tellus. Erat pellentesque adipiscing commodo elit at imperdiet dui accumsan. Felis eget nunc lobortis mattis aliquam faucibus. Tincidunt eget nullam non nisi est sit amet facilisis. Mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Vitae proin sagittis nisl rhoncus mattis rhoncus urna neque. Eget nunc scelerisque viverra mauris in aliquam sem fringilla ut. Nec nam aliquam sem et tortor consequat id. Commodo nulla facilisi nullam vehicula ipsum a. Elementum tempus egestas sed sed. Faucibus purus in massa tempor nec feugiat nisl pretium fusce.</p>
        <p>Arcu cursus vitae congue mauris rhoncus aenean. Tempor id eu nisl nunc mi. Pharetra diam sit amet nisl suscipit adipiscing bibendum. Ut faucibus pulvinar elementum integer enim. Odio facilisis mauris sit amet massa vitae tortor condimentum lacinia. Eu non diam phasellus vestibulum lorem sed risus. Porttitor rhoncus dolor purus non enim praesent. Sit amet mauris commodo quis imperdiet. Lobortis feugiat vivamus at augue eget. Nibh tellus molestie nunc non blandit. Tellus mauris a diam maecenas sed enim ut. Tortor aliquam nulla facilisi cras fermentum odio eu feugiat pretium. Mattis aliquam faucibus purus in massa.</p>
      </template>

      <template v-slot:footer>
        <div>
          <button @click="$refs.Modal.closeModal()">Cancel</button>
          <button @click="$refs.Modal.closeModal()">Save</button>
        </div>
      </template>
    </modal>
  </div>
</template>

<script lang="ts">
import { Vue } from 'vue-class-component';
import Orders from '../mock';
import OrderModal from './Order.vue';
import Modal from "./Modal.vue";

export default {
  
  data:() => ({
    orders:Orders,
    simpleDialog: 1
  }),
  components: {
    OrderModal,
    Modal
  },
  methods: {
    orderDetail : (event:any) => {
      // alert(msg);
      // let element = this.$refs.modal.$el
      // ("#modal").modal('show')
      console.log(event);
      // this.$event('ankit');
    },
  }
}
</script>
<style lang="scss">
.overflow-hidden {
  overflow: hidden;
}
</style>