<template>
  <div class="hello">
    <h1>Hello{{ msg }}</h1>
    </div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';

@Options({
  props: {
    msg: String,
  },
})
export default class HelloWorld extends Vue {
  // msg!: string
}
</script>
